/target/
*.DS_Store

gradle/wrapper/

gradlew

gradlew\.bat

\.gradle/vcsWorkingDirs/

*.class

build/tmp/bootJar/

build/libs/gs-spring-boot-0\.1\.0\.jar

build/resources/main/application\.properties

\.gradle/4\.6/fileChanges/last-build\.bin

\.gradle/4\.6/fileContent/annotation-processors\.bin

\.gradle/4\.6/fileContent/fileContent\.lock

\.gradle/4\.6/fileHashes/fileHashes\.bin

\.gradle/4\.6/fileHashes/fileHashes\.lock

\.gradle/4\.6/fileHashes/resourceHashesCache\.bin

\.gradle/4\.6/taskHistory/taskHistory\.bin

\.gradle/4\.6/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

\.gradle/buildOutputCleanup/cache\.properties

\.gradle/buildOutputCleanup/outputFiles\.bin
/bin/
*.classpath
*.project
